.#{rn}__noti_factory {
  position: fixed;
  box-sizing: border-box;
  width: $rn-width-default;
  &_without_portal {
    position: absolute;
  }
}

.#{rn}__top {
  top: 10px;
}
.#{rn}__left {
  left: 10px;
}
.#{rn}__center {
  left: 50%;
  margin-left: -($rn-width-default / 2);
}
.#{rn}__right {
  right: 10px;
}
.#{rn}__bottom {
  bottom: 10px;
}
@media #{rn-mobile} {
  .#{rn}__noti_factory {
    width: $rn-width-mobile;
  }
  &.#{rn}__top {
    top: 0;
  }
  &.#{rn}__bottom {
    bottom: 0;
  }
  &.#{rn}__left,
  &.#{rn}__center,
  &.#{rn}__right {
    left: 0;
    right: 0;
    margin-left: 0;
  }
}
