$rn: 'Renoti';
$rn-color-default: '#065dec';
$rn-color-success: '#1dd362';
$rn-color-warning: '#f6ad0d';
$rn-color-error: '#fa081f';

$rn-width-default: 300px;
$rn-width-mobile: 100vw;

$rn-mobile: 'only screen and (max-width: 450px)';
