{
  "presets": [
    "@babel/env",
    "@babel/react",
    "@babel/typescript",
    ["@emotion/babel-preset-css-prop", { "sourceMap": false }]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
