@keyframes #{$rn}__rotate-start {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes #{$rn}__rotate-end {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
.#{$rn}__rotate_start {
  animation: #{$rn}__rotate-start cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}
.#{$rn}__rotate_end {
  animation: #{$rn}__rotate-end cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s
    reverse;
}
