@keyframes pop-start {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes pop-end {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes rotate-start {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-end {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes flip-start {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-end {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes slide-start {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-end {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.pop_start {
  animation: pop-start cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}
.pop_end {
  animation: pop-end cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s reverse;
}
.rotate_start {
  animation: rotate-start cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}
.rotate_end {
  animation: rotate-end cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s reverse;
}
.flip_start {
  animation: flip-start cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}
.flip_end {
  animation: flip-end cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s reverse;
}
.slide_start {
  animation: slide-start 0.3s;
}
.slide_end {
  animation: slide-end 0.3s reverse;
}
